<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VET-Reservas de turnos</title>
</head>
<body>
    <header>
        <h1>VET-Reservas de turnos</h1>
    </header>
    <main>
        <section>
            <h2>Bienvenido a pet- Reserva de turnos
  
                Es una app para reserva de turnos sobre diferentes servicios para mascotas( baño y peluqueria, cirujias, atencion veterinaria, vacunacion.)
            
                El usuario puede solicitar el turno, elegir entre la opciones de servicio, optar por la fecha y el dia y
                reservar, eliminar y editar la reserva.</h2>

            <p>Este es un proyecto desarrollado utilizando Django, un framework de desarrollo web en Python.</p>
            <p>Puedes encontrar más información sobre Django en <a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a>.</p>
        </section>
        <section>
            <h2>Equipo de Desarrollo</h2>
            <ul>
                <li>Desarrollador Principal: Daiana Zorgno</li>
               
            </ul>
        </section>
        <section>
            <h2>Versiones</h2>
            <p>Versión del Proyecto: 1.0</p>
            <p>Versión de Django: 3.2</p>
            
        </section>
    </main>
    <footer>
        <p>© 2024 - GarraPatas-Petshop</p>
    </footer>
</body>
</html>